---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`tagline flex items-center ${className}`}>
  <svg width="5" height="14" viewBox="0 0 5 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 0.822266H1V12.8223H5" stroke="url(#brackets-left)"></path>
  </svg>
  <div class="mx-3 text-n-3"><slot /></div>
  <svg width="5" height="14" viewBox="0 0 5 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M-2.98023e-08 0.822266H4V12.8223H-2.98023e-08" stroke="url(#brackets-right)"></path>
  </svg>
</div>
